<div class="outer_box">
    <div class="inner_box_solid">
      Your Score: {{score}}%
    </div>
    <div class="inner_box_framed">
        <div *ngIf="this.score != 100; else perfect">
            <h4>Thanks for taking our quiz! We hope that, no matter how well you did, you picked up a few ideas Agile and how to write better software. Drop us an email at agileTeam@solutionsati.com to get the best out of your team.
            </h4>
        </div>
        <ng-template #perfect>
            <h4>Wow! You really know your stuff. Thanks for taking our quiz. Your challenge is to continue to advance to even higher levels of performance. Drop us an email at agileTeam@solutionsati.com to exchange ideas about getting to the next level.
            </h4>
        </ng-template>
        <button type="button" onclick="location.href='/'">Retake Quiz</button>
    </div>
</div>
<h3>Question 1</h3>

<div class="outer_box">
    <div class="inner_box_framed">
        <h3>{{this.myQuestionSet.questions[0].question}}
        </h3>
    </div>
    <div *ngIf="this.answerOne == this.myQuestionSet.questions[0].correctAnswer ; else falsyTemplate0">
        <div class="inner_box_correct">
            Correct!
        </div>
        <div class="inner_box_framed">
            <h4>
                <img src="assets/pass.png" alt="some text" width=16 height=16 style="float:left;">
                {{this.myQuestionSet.questions[0].correctAnswer}})&nbsp;"

                {{this.myQuestionSet.questions[0].answers[this.myQuestionSet.questions[0].correctAnswer.charCodeAt(0) - 'A'.charCodeAt(0)].name}}"
            </h4>
            <h4
            [innerHTML]="this.myQuestionSet.questions[0].passText">
            </h4>
        </div>  
    </div>
          
    <ng-template #falsyTemplate0>
        <div class="inner_box_incorrect">
            Not Correct
        </div>
        <div class="inner_box_framed">
            <h4>
                <img src="assets/pass.png" alt="some text" width=16 height=16 style="float:left;">

                {{this.myQuestionSet.questions[0].correctAnswer}})&nbsp;"
             
                {{this.myQuestionSet.questions[0].answers[this.myQuestionSet.questions[0].correctAnswer.charCodeAt(0) - 'A'.charCodeAt(0)].name}}"
                <br>
                <img src="assets/fail.png" alt="some text" width=16 height=16 style="float:left;">
                {{this.answerOne}})&nbsp;"

                {{this.myQuestionSet.questions[0].answers[this.answerOne.charCodeAt(0) - 'A'.charCodeAt(0)].name}}"
            </h4>
            <h4 
            [innerHTML]="this.myQuestionSet.questions[0].failText">
            </h4>
        </div> 

    </ng-template>
 </div>

 <h3>Question 2</h3>

 <div class="outer_box">
     <div class="inner_box_framed">
         <h3>{{this.myQuestionSet.questions[1].question}}
         </h3>
     </div>
     <div *ngIf="this.answerTwo == this.myQuestionSet.questions[1].correctAnswer ; else falsyTemplate1">
         <div class="inner_box_correct">
             Correct!
         </div>
         <div class="inner_box_framed">
            <h4>
                <img src="assets/pass.png" alt="some text" width=16 height=16 style="float:left;">
                {{this.myQuestionSet.questions[1].correctAnswer}})&nbsp;"

                {{this.myQuestionSet.questions[1].answers[this.myQuestionSet.questions[1].correctAnswer.charCodeAt(0) - 'A'.charCodeAt(0)].name}}"
            </h4>
             <h4
             [innerHTML]="this.myQuestionSet.questions[1].passText">
             </h4>
         </div>  
     </div>
           
     <ng-template #falsyTemplate1>
         <div class="inner_box_incorrect">
                Not Correct
            </div>
         <div class="inner_box_framed">
             <h4>
                    <img src="assets/pass.png" alt="some text" width=16 height=16 style="float:left;">

                    {{this.myQuestionSet.questions[1].correctAnswer}})&nbsp;"
                 
                    {{this.myQuestionSet.questions[1].answers[this.myQuestionSet.questions[1].correctAnswer.charCodeAt(0) - 'A'.charCodeAt(0)].name}}"
                    <br>
                    <img src="assets/fail.png" alt="some text" width=16 height=16 style="float:left;">
                    {{this.answerTwo}})&nbsp;"
    
                    {{this.myQuestionSet.questions[1].answers[this.answerTwo.charCodeAt(0) - 'A'.charCodeAt(0)].name}}"    
             </h4>        
             <h4
             [innerHTML]="this.myQuestionSet.questions[1].failText">
             </h4>
         </div>        
     </ng-template>
  </div>
  
  <h3>Question 3</h3>

  <div class="outer_box">
      <div class="inner_box_framed">
          <h3>{{this.myQuestionSet.questions[2].question}}
          </h3>
      </div>
      <div *ngIf="this.answerThree == this.myQuestionSet.questions[2].correctAnswer ; else falsyTemplate2">
          <div class="inner_box_correct">
              Correct!
          </div>
          <div class="inner_box_framed">
            <h4>
                <img src="assets/pass.png" alt="some text" width=16 height=16 style="float:left;">
                {{this.myQuestionSet.questions[2].correctAnswer}})&nbsp;"

                {{this.myQuestionSet.questions[2].answers[this.myQuestionSet.questions[2].correctAnswer.charCodeAt(0) - 'A'.charCodeAt(0)].name}}"
            </h4>
            <h4
            [innerHTML]="this.myQuestionSet.questions[2].passText">
            </h4>
          </div>  
      </div>
            
      <ng-template #falsyTemplate2>
          <div class="inner_box_incorrect">
                Not Correct
            </div>
          <div class="inner_box_framed">
              <h4>
                    <img src="assets/pass.png" alt="some text" width=16 height=16 style="float:left;">

                    {{this.myQuestionSet.questions[2].correctAnswer}})&nbsp;"
                 
                    {{this.myQuestionSet.questions[2].answers[this.myQuestionSet.questions[2].correctAnswer.charCodeAt(0) - 'A'.charCodeAt(0)].name}}"
                    <br>
                    <img src="assets/fail.png" alt="some text" width=16 height=16 style="float:left;">
                    {{this.answerThree}})&nbsp;"
    
                    {{this.myQuestionSet.questions[2].answers[this.answerThree.charCodeAt(0) - 'A'.charCodeAt(0)].name}}"              
              </h4>
              <h4 
              [innerHTML]="this.myQuestionSet.questions[2].failText">
              </h4>
          </div>        
      </ng-template>
</div>
