<div class="outer_box">
    <div class="inner_box_solid">
      Your Score: 71%
    </div>
    <div class="inner_box_framed">
      <h4>Thanks for taking our quiz! We hope that, no matter how well you did, you picked up a few ideas about how to be more #CyberAware. Learn more about protecting yourself online at NIST NCSAM tip sheets page.
      </h4>
    </div>
</div>
<h3>Question 1</h3>

<div class="outer_box">
    <div class="inner_box_framed">
        <h3>{{this.myQuestionSet.questions[0].question}}
        </h3>
    </div>
    <div *ngIf="this.answerOne == this.myQuestionSet.questions[0].correctAnswer ; else falsyTemplate0">
        <div class="inner_box_correct">
            Correct!
        </div>
        <div class="inner_box_framed">
            <h4>
                {{this.myQuestionSet.questions[0].correctAnswer}} is Correct
            </h4>
            <h4>
                {{this.myQuestionSet.questions[0].passText}}
            </h4>
        </div>  
    </div>
          
    <ng-template #falsyTemplate0>
        <div class="inner_box_incorrect">
            Incorrect
        </div>
        <div class="inner_box_framed">
            <h4>
                {{this.myQuestionSet.questions[0].correctAnswer}} is Correct
            </h4>
            <h4>
                {{this.myQuestionSet.questions[0].failText}}
            </h4>
        </div>        
    </ng-template>
 </div>

 <h3>Question 2</h3>

 <div class="outer_box">
     <div class="inner_box_framed">
         <h3>{{this.myQuestionSet.questions[1].question}}
         </h3>
     </div>
     <div *ngIf="this.answerOne == this.myQuestionSet.questions[1].correctAnswer ; else falsyTemplate1">
         <div class="inner_box_correct">
             Correct!
         </div>
         <div class="inner_box_framed">
             <h4>
                 {{this.myQuestionSet.questions[1].correctAnswer}} is Correct
             </h4>
             <h4>
                 {{this.myQuestionSet.questions[1].passText}}
             </h4>
         </div>  
     </div>
           
     <ng-template #falsyTemplate1>
         <div class="inner_box_incorrect">
             Incorrect
         </div>
         <div class="inner_box_framed">
             <h4>
                 {{this.myQuestionSet.questions[1].correctAnswer}} is Correct
             </h4>
             <h4>
                 {{this.myQuestionSet.questions[1].failText}}
             </h4>
         </div>        
     </ng-template>
  </div>
  
  <h3>Question 3</h3>

  <div class="outer_box">
      <div class="inner_box_framed">
          <h3>{{this.myQuestionSet.questions[2].question}}
          </h3>
      </div>
      <div *ngIf="this.answerOne == this.myQuestionSet.questions[2].correctAnswer ; else falsyTemplate2">
          <div class="inner_box_correct">
              Correct!
          </div>
          <div class="inner_box_framed">
              <h4>
                  {{this.myQuestionSet.questions[2].correctAnswer}} is Correct
              </h4>
              <h4>
                  {{this.myQuestionSet.questions[2].passText}}
              </h4>
          </div>  
      </div>
            
      <ng-template #falsyTemplate2>
          <div class="inner_box_incorrect">
              Incorrect
          </div>
          <div class="inner_box_framed">
              <h4>
                  {{this.myQuestionSet.questions[2].correctAnswer}} is Correct
              </h4>
              <h4>
                  {{this.myQuestionSet.questions[2].failText}}
              </h4>
          </div>        
      </ng-template>
   </div>
<!--
  <h2>{{line1}}</h2>
  <h2>{{line2}}</h2>
  <h2 style="color:red">{{line3}}</h2>
  <h2>{{line4}}</h2>
---------------------------------
  <h2>{{line5}}</h2>
  <h2>{{line6}}</h2>
  <h2 style="color:red">{{line7}}</h2>
  <h2>{{line8}}</h2>
--------------------------------------
  <h2>{{line9}}</h2>
  <h2>{{line10}}</h2>
  <h2 style="color:red">{{line11}}</h2>
  <h2>{{line12}}</h2>
-->