<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
    <div>

  <h1>h1 -- Are You Safe Online? </h1>
  <div class="tiny_dancer">Page 1 of 4</div>

  <h2> h2 -- Question 1</h2>
  <h3> How often will your bank?</h3>
  <div class="fancy">Fancy Pants!</div>
 <!-- <h1>Current level is {{levelIndex}}</h1>
  <h1>question 1 Answer is {{questionOneIndex}}</h1>
  <h1>question 2 Answer  is {{questionTwoIndex}}</h1>
  <h1>question 3 Answer  is {{questionThreeIndex}}</h1>
 -->
</div>
<router-outlet></router-outlet> 
<div style="text-align:center">
    <button   (click)="prevButton()" >prev</button>
    <button   (click)="nextButton()" >next</button>
</div>


