<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1> Welcome to {{ title }}! </h1>
 <!-- <h1>Current level is {{levelIndex}}</h1>
  <h1>question 1 Answer is {{questionOneIndex}}</h1>
  <h1>question 2 Answer  is {{questionTwoIndex}}</h1>
  <h1>question 3 Answer  is {{questionThreeIndex}}</h1>
 -->
</div>
<router-outlet></router-outlet> 
<div style="text-align:center">
    <button   (click)="prevButton()" >prev</button>
    <button   (click)="nextButton()" >next</button>
</div>


